@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rammetto+One&display=swap');

body{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --white: #fff;
    --black: #000;
    --primary-grey: #424242;
    --secondary-grey: #f5f6f8;
    --primary-pink: #ff4967;
    --secondary-pink: #feced6;
}
html{
    scroll-behavior: smooth;
}
/*----- general style -----*/
a{
    text-decoration: none;
    color: var(--black);
}
li{
    list-style: none;
}
h1, h2, h4{
    color: var(--black);
}
h1{
    font-size: 2.6rem;
    font-family: "Rammetto One", sans-serif;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.3rem;
    color: var(--primary-pink);
}
h4{
    font-size: 1.2rem;
}
p{
    font-size: 1rem;
    color: var(--primary-grey);
    margin: 1rem 0 2rem 0;
    max-width: 80%;
}
.para{
    max-width: 100%;
}
.primary-btn{
    border: .1rem solid var(--primary-pink);
    background: var(--primary-pink);
    font-size: 1rem;
    border-radius: 5rem;
    color: var(--white);
    padding: .6rem 1.5rem;
}
[data-type="inverted-btn"]{
     background: transparent;
     color: var(--primary-pink);
}
[data-type="white-btn"]{
    background: var(--white);
    border: none;
    color: var(--primary-pink);
}
.primary-btn:hover{
    filter: grayscale(1);
}
.bg-white{
    background: var(--white);
}
.bg-black{
    background: var(--black);
}
.bg-light-pink{
    background: var(--secondary-pink);
}
.bg-dark-pink{
    background: var(--primary-pink);
}
.bg-grey{
    background: var(--secondary-grey);
}
.fill-white{
    color: var(--white);
}
.fill-light-pink{
    color: var(--secondary-pink);
}
.fill-pink{
    color: var(--primary-pink);
}
.section{
    padding: 6rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
    margin: auto;
    padding: 0 2rem;
}
.row-container, .column-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-container{
    gap: 7rem;
}
.column-container{
    flex-direction: column;
    gap: 3rem;
    text-align: center;
}
.content{
    max-width: 50%;
}
img{
    height: 100%;
    display: inline-block;
}
.fa-solid{
    margin-right: 1rem;
}

/*-----navbar style-----*/
.box-fixed{
    position: fixed;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 13vh;
    margin: auto;
    padding: 2rem 2rem;
}
.navlist{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.fa-bars{
    font-size: 2rem;
    

}
.hamberger{
    display: none;
}
.active, .navlist li .navlinks:hover{
    color: var(--primary-pink);
}
.logo{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-pink);
    border: .1rem solid var(--primary-pink);
    padding: .3rem;
}
/*------hero section -------*/
.hero-section{
    height: calc(100vh - 13vh);
    display: flex;
    justify-content: center;
    align-items: center;
}
.action{
    display: flex;
    gap:1.5rem;
}
.image-container{
    height: 75vh;
    width: 50rem;
    border-radius: 50% 50% 0 0;
    background:linear-gradient(var(--secondary-pink), transparent) ;
    position: relative;
    transform: scaleX(-1);
}
.image-container img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
}
/*----Skil section----*/
.skill-level{
    background: var(--white);
    width: 100%;
    height: .7rem;
    border-radius: 3rem;
    margin-top: .7rem;
    position: relative;
    box-shadow: 5px 5px 8px var(--primary-pink);
}
.skill-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 6rem;
    grid-row-gap: 2rem;
}
.info{
    display: flex;
    justify-content: space-between;
}
.skill-bar{
    background: var(--primary-pink);
    position: absolute;
    inset: 0;
}
.html{
    width: 90%;
    border-radius: 3rem;
    box-shadow: 5px 5px 8px var(--white);
}
.css{
    width: 95%;
    border-radius: 3rem;
    box-shadow: 5px 5px 8px var(--white);
}
.java-script{
    width: 78%;
    border-radius: 3rem;
    box-shadow: 5px 5px 8px var(--white);
}
.bootstrap{
    width: 60%;
    border-radius: 3rem;
    box-shadow: 5px 5px 8px var(--white);
}
.react{
    width: 40%;
    border-radius: 3rem;
    box-shadow: 5px 5px 8px var(--white);
}
.aem{
    width: 87%;
    border-radius: 3rem;
    box-shadow: 5px 5px 8px var(--white);
}

/*----------about me section style--------------*/
[data-type="inverted-img"]{
    transform: scaleX(1);
}

.margin-line{
    margin: 0 0 0 1rem;
}
.detail{
    margin-bottom: 1.6rem;
}
.interest{
    display: flex;
    gap: 2rem;
    margin-top: 1.2rem;
}
.interest li{
    display: flex;
    align-items: center;
}
/*----------------Services style----------------------------*/

.grid-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-row-gap: 3.5rem;
    grid-column-gap: 2rem;
}

.card{
    background: var(--white);
    padding: 1rem 1rem 0 2rem;
    text-align: left;
    border-radius: 10% 40% 10% 10%;
    box-shadow: 5px 5px 8px var(--secondary-pink); 
    /*---  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; --*/
}
[data-type="card-icons"]{
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;
    background: var(--primary-pink);
    padding: 1rem;
    border-radius: 50%;
}
.card:hover{
    background: var(--primary-pink);
    cursor: pointer;
    color: var(--white);
    box-shadow: 5px 5px 8px var(--white);
}
.card:hover p, .card:hover h4{
    color: var(--white);
}
.card:hover [data-type="card-icons"]{
    /*------  border: .2rem solid var(--white); ---*/
    background: var(--white);
    color: var(--primary-pink);
}

/*--------------------Portfolio style ------------------------*/
.project-card{
    position: relative;
    height: 12rem;
    width: 20rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 5%;
    transition: opacity .3s ease-in-out;
    overflow: hidden;
}
.project-card:nth-child(1){
    background-image: url("assets/fresh-start.jpg");
}
.project-card:nth-child(2){
    background-image: url(assets/color-world.jpg);
}
.project-card:nth-child(3){
    background-image: url(assets/follow-base.jpg);
}
.project-card:nth-child(4){
    background-image: url(assets/multi-color.jpg);
}
.project-card:nth-child(5){
    background-image: url(assets/work-hard.jpg);
}
.project-card:nth-child(6){
    background-image: url(assets/power-to-design.jpg);
}
.project-card:hover{
    transform: translateY(-10px);
    transition: .5s;
}
/*-----
.project-card:nth-child(1):hover{
    transform: translateY(-10px);
    transition: .5s;
}
.project-card:nth-child(2):hover{
    transform: translateY(-10px);
    transition: .5s;
}
.project-card:nth-child(3):hover{
    transform: translateY(-10px);
    transition: .5s;
}
.project-card:nth-child(4):hover{
    transform: translateY(-10px);
    transition: .5s;
}
.project-card:nth-child(5):hover{
    transform: translateY(-10px);
    transition: .5s;
}
.project-card:nth-child(6):hover{
    transform: translateY(-10px);
    transition: .5s;
}
---*/
.project-card::before{
    content: "";
    background: var(--black);
    position: absolute;
    inset: 0;
    opacity: 0;
    border-radius: 5%;
}
.project-card:hover::before{
    opacity: .8;
}
.demo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -40%;
    transition: top .9s ease-in-out;
}
.project-card:hover .demo{
    top: 40%;
    display: block;
}
/*---------------------work together section style----------------------*/
.project-section{
    padding: 2.5rem 0;
    position: relative;
    isolation: isolate;
}
.project-content{
    text-align: center;
    max-width: 80%;
    margin: auto;
}
.project-content h2{
    font-size: 2rem;
}
.project-section::before, .project-section::after{
    position: absolute;
    content: "";
    height: 80%;
    width: 12rem;
    z-index: -1;
    opacity: .4;
}
.project-section::before{
    top: 0;
    right: 50px;
    border-radius: 0 0 50% 50%;
    background: linear-gradient(var(--primary-pink), var(--secondary-pink));
}
.project-section::after{
    bottom: 0;
    left: 50px;
    border-radius: 50% 50% 0 0;
    background: linear-gradient(var(--secondary-pink), var(--primary-pink));
}
/*---------------------------------Contact us section style-----------------------------------------*/
.form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 50%;
}
input, textarea{
    width: 100%;
    border: none;
    border-radius: .2rem;
    padding: .9rem 1rem;
    resize: none;
    background: var(--secondary-grey);
    font-size: 1rem;
}
input:focus, textarea:focus{
    outline: .1rem solid var(--primary-pink);
}
/*-----------------footer style----------------*/
.footer-section{
    padding: 2rem 0;
    text-align: center;
}

/*--------------------------media -queries----------------------------------------*/
@media screen and (max-width:580px) {
    body{
        overflow-x: hidden;
    }
    .text-center{
        text-align: center;
    }
    .navbar{
        background: var(--secondary-pink);
        position: relative;
        z-index: 10;
        height: auto;
        
    }
    .navlist li{
        margin-bottom: 1rem;
    }
    .mobile-margin{
        margin-top: 20%;
    }
    .navlist{
        display: none;
        background: var(--secondary-pink);
        position: absolute;
        flex-direction: column;
        top: 80%;
        right: 0;
        padding: 2rem 2rem;
        transform: translateX(100%);
        transition: transform .3s ease-in-out;
        border-radius: 10%;
    }
    .navlist-active{
        display: block;
        transform: translateX(-10%);
    }
    .hamberger{
        display: block;
    }
    .image-container{
        display: none;
    }
    .container, .navbar, .form{
        width: 100%;
    }
    .content, p, .project-content{
        max-width: 100%;
    }
    h1{
        font-size: 2.2rem;
    }
    h2{
        text-align: left;
        font-size: 1.2rem;
    }
    h3{
        font-size: 1.1rem;
    }
    .skill-container, .grid-card-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .project-section::before, .project-section::after{
        display: none;
    }
    .interest{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .hero-section{
        height: 100%;
        padding-bottom: 4rem;
    }
    .m-mobile{
        padding: .1rem .3rem;
    }
}